hr.style13 {
	height: 10px;
	border: 0;
    padding:0px;
    margin-bottom: 30px;
    width: 180px;
	box-shadow: 0 10px 10px -10px  #0275d8 inset;
}
.h1-temp{
    padding-top: 100px;
}
.temp-border {
	border-top: 3px double #8c8b8b;
    width: 800px;
}
.pre-row{
    padding-bottom: 100px;
}
.pre-col{
    padding-top:0px;
}