.circle{
    width:100px;
    height:100px;
    border-radius: 50%;
}
.review-container{
    width:100%;
    height:50px;
    color:blue;
}
.h1-review{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color:#15317E;
}
.review-para{
    font-family: cursive;
    text-align: center;
    padding-top:10px;
    color:#0041C2;
}
.review-h4{
    justify-content: left;
    color:#3090C7;
}
.review-h2{
    color:#3090C7;
}
.review-col{
    justify-content: center;
    text-align: center;
    padding-top: 60px;
}
.review-row{
    padding-top:40px;
}