.medcard-row {
    padding:10px;
    border-radius: 0.3rem;
    margin: 0px 0px 0px 25px;
    text-align:center;
    font-family: 'Varela Round', sans-serif;
    background-color: whitesmoke;
    background: linear-gradient(to left,  #3090C7,	#15317E);
    color: white;
}
.medcard-name{
    font-size: 18px;
    font-weight:bold;
}
hr.style4 {
	border-top: 1px dotted #ffffff;
}
.medcard-time{
    width: 150px;
    padding: 10px 0px 10px 0px;
    border: 1px solid black;
    font-size: 14px;
}
.medcard-day{
    font-size: 14px;
}
