.condcard-row {
    padding:10px;
    border-radius: 0.3rem;
    margin: 0px 0px 0px 25px;
    text-align:center;
    font-family: 'Varela Round', sans-serif;
    background: linear-gradient(to left, #a8dfff, #5ac3ff);
}
.condcard-name{
    font-size: 15px;
    
    width:150px;
    color: black;
}
hr.condline{
    border-top: 1px dotted black;
}