.navbar{
    background-color: white;
    height: 100px;
    margin:0px;
    justify-content:space-evenly;
    text-align:center;
    padding: 0px;
    font-family: 'Kiwi Maru', serif;
    
}
.navbar-nav{
    justify-content: center;
    padding-top: 0px;
}

.nav-item{
    
    padding: 0px 50px;
}
.temp{
    color: red;
}
.temp-clock{
    margin:0px;
    padding-top :10px;
}